@use 'header' as h;


#backToTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  @include h.verticalAlign;
  min-height: 4rem;
  min-width: 4rem;
  height: 6vw;
  width: 6vw;
  max-height: 5rem;
  max-width: 5rem;
  background-color: #4056A1;;
  border-radius: 50%;
  border: none;
  color: white;
  box-shadow: 0 4px 7px -1px rgb(70, 70, 70);
  animation: bobbing 1s linear infinite;
}

#backToTop:hover {
  animation: none;
  transform: scale(1.05);
}

#backToTop i {
  position: inherit;
  font-size: 2rem;
}

@keyframes bobbing {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}