$headerColor: rgb(225, 167, 60);
@mixin verticalAlign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header.main {
  @include verticalAlign;
  width: 100vw;
  height: 520px;
  padding-top: 120px;
  background-image: url('/images/crissxcross.png');
  background-color: $headerColor;
  box-shadow: 0 3px 7px -1px rgb(70, 70, 70);

  h2 {
    color: white;
    font-weight: 300;
  }
  
  strong {
    font-weight: 600;
  }
}
