header.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 520px;
  padding-top: 120px;
  background-image: url("/images/crissxcross.png");
  background-color: #e1a73c;
  box-shadow: 0 3px 7px -1px #464646;
}
header.main h2 {
  color: white;
  font-weight: 300;
}
header.main strong {
  font-weight: 600;
}
