nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
nav .seeThrough {
  background-color: none;
}
nav .blue {
  background-color: #4056A1;
  box-shadow: 0 3px 7px -1px #464646;
}
nav .nav-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}
nav .nav-items-container #logo {
  font-family: "Bungee", sans-serif;
  font-size: 1.5em;
}
nav .nav-items-container #newTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
}
nav .nav-items-container #writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  background-color: transparent;
  border: none;
}
nav .nav-items-container .fa-angle-double-down {
  color: red;
  animation: updown 1s linear infinite;
}
@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.errorContainer {
  width: 100%;
}

.error {
  text-align: left;
  width: 100%;
  color: red;
  font-weight: 600;
}

.new-tweet:hover {
  transform: scale(1.01);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 3rem;
  max-height: 10rem;
  resize: vertical;
  border: none;
  border-bottom: 4px solid #656565;
  padding-bottom: 0.1em;
  margin: 0.5rem;
  font-weight: bold;
  color: #646464;
  background-color: transparent;
}

textarea:focus {
  outline: none;
}

.button-and-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5em;
}

.counter,
button {
  font-family: "Bungee", sans-serif;
}

#submitTweet {
  border: none;
  background-color: #4056A1;
  color: white;
  padding: 0.5rem;
  width: 7rem;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.overCount {
  color: red;
}
